#content{
	width:50%;
	margin: 5px auto;
	text-align: center;
}
.container-box{
	width:600px;
}

.container-box  div {
	width:200px;
	height:200px;
	margin: 3px;
	border-radius: 20px;
	opacity: 0.2;
	transition: opacity 0.5s;
	cursor: pointer;
}

.container-box div:nth-child(1){
	display: inline-block;
	background: red;
}
.container-box div:nth-child(2){
	display: inline-block;
	background: blue;
}
.container-box div:nth-child(3){
	display: inline-block;
	background: green;
}
.container-box div:nth-child(4){
	display: inline-block;
	background: yellow;
}
#progressBar{
	width:600px;
	height: 30px;
	border:1px solid black;
}
#progressBar div{
	height: 30px;
	width:0px;
	background: green;
}